@font-face {
  font-family: aldoApache;
  src: url(../font/aldo_the_apache/AldotheApache.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  display: grid;
  grid-template-rows: 3fr 2fr 2fr;
  height: 100vh;
  align-items: center;
  justify-items: center;
  position: relative;
  overflow: hidden;
}

.title {
  margin-left: 5px;
  font-family: aldoApache;
  font-size: 17vh;
  color: #525252;
  position: relative;

  text-shadow: 0.05em 0 0 rgb(134, 134, 134),
    -0.025em 0 0 rgb(32, 175, 32) 0.025em 0 0 rgb(119, 8, 8);

  animation: glitch 450ms infinite;
  opacity: 0.85;
}

.title span {
  position: absolute;
  top: 0;
  left: 0;
}

.title span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.05rem, -0.025rem);
  opacity: 0.6;
}

.title span:last-child {
  animation: glitch 389ms infinite;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  transform: translate(0.05rem, 0.025rem);
  opacity: 0.6;
}

.dino {
  height: 10vh;
}

.cactus {
  height: 13vh;
}

.floor-obj {
  align-self: end;
  display: flex;
  align-items: end;
  justify-content: space-around;
  width: 100vw;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 15vh;
  height: 15vh;
  border: solid 1vh #a0a0a0;
  background: transparent;
  cursor: pointer;
}

.play-button img {
  height: 8vh;
  margin: 2px 0 0 1vh;
}

.play-button img:hover {
  height: 55px;
  margin: 2px 0 0 5px;
}

.floor {
  background: black;
  border-top: solid 3px #525252;
  width: 100%;
  align-self: self-start;
}

.background-wrap {
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.background-wrap,
.cactus,
.title,
.floor {
  transition: opacity 1.1s ease;
}

@keyframes animateCloud {
  0% {
    margin-left: -700px;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05rem 0 0 rgb(134, 134, 134), -0.025rem 0 0 rgb(32, 175, 32),
      0.025rem 0 0 rgb(119, 8, 8);
  }

  14% {
    text-shadow: 0.05rem 0 0 rgb(134, 134, 134), -0.025rem 0 0 rgb(32, 175, 32),
      0.025rem 0 0 rgb(119, 8, 8);
  }

  15% {
    text-shadow: -0.05rem -0.25rem 0 rgb(134, 134, 134),
      0.025rem 0.025rem 0 rgb(32, 175, 32), -0.05rem -0.05rem 0 rgb(119, 8, 8);
  }

  49% {
    text-shadow: -0.05rem -0.25rem 0 rgb(134, 134, 134),
      0.025rem 0.025rem 0 rgb(32, 175, 32), -0.05rem -0.05rem 0 rgb(119, 8, 8);
  }

  50% {
    text-shadow: 0.025rem 0.05rem 0 rgb(134, 134, 134),
      0.05rem 0 0 rgb(32, 175, 32), 0 -0.05rem 0 rgb(119, 8, 8);
  }

  99% {
    text-shadow: 0.025rem 0.05rem 0 rgb(134, 134, 134),
      0.05rem 0 0 rgb(32, 175, 32), 0 -0.05rem 0 rgb(119, 8, 8);
  }

  100% {
    text-shadow: -0.025rem 0 0 rgb(134, 134, 134),
      -0.025rem -0.025rem 0 rgb(32, 175, 32),
      -0.025rem -0.05rem 0 rgb(119, 8, 8);
  }
}

.x1 {
  animation: animateCloud 45s linear infinite;
  transform: scale(0.65);
}

.x2 {
  animation: animateCloud 35s linear infinite;
  transform: scale(0.3);
}

.x3 {
  animation: animateCloud 41s linear infinite;
  transform: scale(0.5);
}

.x4 {
  animation: animateCloud 55s linear infinite;
  transform: scale(0.7);
}
